{% extends 'base.html' %}
{% block content %}


<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'add_serv_with_install_csw' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-4">
            {{ add_serv_inst_csw_form.as_p }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
            </div>
        </div>
    </div>
</form>
  </div>
</div>
</div>





{% endblock %}