{% extends 'tickets/nav_ticket.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>


<div class="container">
    <table class="table table-bordered">
      <tbody>
        <tr>

        <th class="table-secondary text-right" style="width: 25%" rowspan="{{pass_job_services|length}}">Услуг{{ pass_job_services|length|pluralize:"а,и" }}</th>
{% for i in pass_job_services%}
        <td class="table-light" style="width: 75%">{{i}}</td>

        </tr>
{% endfor %}
        <tr>
            <th class="table-secondary text-right" style="width: 25%">Новый КАД</th>
            <td class="table-light" style="width: 75%">{{kad}}</td>
        </tr>
      </tbody>
    </table>
</div>


<div class="container">

            <div class="card mb-2">
                <h5 class="card-header">Подключение</h5>
            <div class="card-body">
                <p class="card-text">{{head|linebreaksbr}}</p>
            </div>
            </div>
</div>

<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'change_log_shpd' trID %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{changelogshpdform.connect.id_for_label}}">Подключение:</label>
                    {{changelogshpdform.connect}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
            {%comment%}{{ changelogshpdform.as_p }}{%endcomment%}
                <div class="form-group">
                    <label for="{{ changelogshpdform.change_log_shpd.id_for_label }}">Изменение схемы ШПД для {{subnet_for_change_log_shpd}}</label>
                    {{changelogshpdform.change_log_shpd}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>
        </div>
</div>
</div>

{% endblock %}
