
{% extends 'tickets/nav_ticket.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">

<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Услуга</th>
        <td class="table-light" style="width: 75%">{{services_cks}}</td>

    </tr>
  </tbody>
</table>

</div>

<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'cks' trID %}" method="post">
    {% csrf_token %}
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="breadcrumb video alert-danger">
                    <p class="breadcrumb-item"><b>Внимание!</b><br>Реализована индивидуальная схема организации sub-interface на коммутаторах: AR03-25.ekb, AR13-23.ekb, AR113-37.ekb, AR135-35.ekb, AR138-02.ekb, AR149-02.ekb.<br>(<a href="https://ckb.itmh.ru/x/gQdaH" target ="_blank">смотри документ</a>, раздел "Схема. ЦКС между разными доменами агрегации").</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                {% if list_strok%}
                <p>Варианты точек ЦКС:</p>
                {% for i in list_strok %}
                {{i}}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{cksform.pointA.id_for_label}}">Точка подключения "A":</label>
                    {{cksform.pointA}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{cksform.pointB.id_for_label}}">Точка подключения "B":</label>
                    {{cksform.pointB}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{cksform.policer_cks.id_for_label}}">Точка ограничения сервиса:</label>
                    {{cksform.policer_cks}}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{cksform.port_type.id_for_label}}">Режим порта:</label>
                    {{cksform.port_type}}
                </div>
            </div>
        </div>
        {% if trunk_turnoff_on %}
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{cksform.exist_service.id_for_label}}">Режим порта существующей услуги:</label>
                    {{cksform.exist_service}}
                </div>
            </div>
        </div>
        {% endif %}



        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>
  </div>
</div>
</div>




{%endblock%}
