{% extends 'base.html' %}
{% block content %}

{% if trID != 1 %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>
{% endif %}


<div class="container">
    <div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
      <p class="card-text">Выбрать 1 ресурс для работ</p>
<form action="{% url 'contract_id_formset' trID %}" method="post">
    {{ formset.management_form }}   {%comment%}Нужен, чтобы срабатывал метод is_valid(){%endcomment%}
    {% csrf_token %}
    <div class="container">
        <div class="row">
                <table class="table table-striped">
                      <thead>
                        <tr>
                          {%comment%}<th scope="col"></th>{%endcomment%}
                          <th class="col-1"></th>
                          <th class="col-10">Контракт</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for form in formset %}

                        <tr>
                          <td>{{ form.as_p }}</td>

                              {% for element in contract_id %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                              <td>
                                  {%for key, value in element.items%}
                                  {% if key == 'value'%}
                                    {{value}}
                                  {% endif %}
                                  {%endfor%}
                                  </td>
                                {% endif %}
                              {% endfor %}

                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{% url 'get_resources' trID %}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
    </div>
</div>
{% endblock %}