{% extends 'base.html' %}
{% block content %}

<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'csw' %}" method="post">
    {% csrf_token %}
    <div class="container">

        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.model_csw.id_for_label }}">Модель</label>
                    {{cswform.model_csw}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.port_csw.id_for_label }}">Порт</label>
                    {{cswform.port_csw}}
                </div>
            </div>
        </div>
        {% if new_install %}
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.logic_csw_1000.id_for_label }}">Запуск КК на магистрали 1 Гбит/с</label>
                    {{cswform.logic_csw_1000}}
                </div>
            </div>
        </div>
        {% elif add_serv_install %}
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.logic_csw_1000.id_for_label }}">Запуск КК на магистрали 1 Гбит/с</label>
                    {{cswform.logic_csw_1000}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.type_install_csw.id_for_label }}">Варианты установки КК</label>
                    {{cswform.type_install_csw}}
                </div>
            </div>
        </div>
        {% elif logic_change_gi_csw %}
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.type_install_csw.id_for_label }}">Варианты перевода КК</label>
                    {{cswform.type_install_csw}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.exist_sreda_csw.id_for_label }}">Существующее подключение КК</label>
                    {{cswform.exist_sreda_csw}}
                </div>
            </div>
        </div>
        {% elif logic_replace_csw %}
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.logic_csw_1000.id_for_label }}">Запуск КК на магистрали 1 Гбит/с</label>
                    {{cswform.logic_csw_1000}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{ cswform.type_install_csw.id_for_label }}">Варианты замены КК</label>
                    {{cswform.type_install_csw}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-4">
            {{ cswform.as_p }}
            </div>
        </div>
        {% endif %}
        <div class="row mt-3">
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
            </div>
        </div>
    </div>
</form>
  </div>
</div>
</div>


{% endblock %}