{% extends 'tickets/nav_ticket.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Услуга</th>
        <td class="table-light" style="width: 75%">{{service_hotspot}}</td>
    </tr>
  </tbody>
</table>
</div>



<div class="container">
    <div class="card mb-2">
        <h5 class="card-header">Параметры</h5>
            <div class="card-body">
<form action="{% url 'hotspot' trID %}" method="post">
    {% csrf_token %}
    <div class="container">
        {% if premium_plus %}
        <div class="row">
            <div class="col-4 mb-3">
                <div class="form-group">
                    <label for="{{ hotspotform.exist_hotspot_client.id_for_label }}">Существующий клиент</label>
                    {{hotspotform.exist_hotspot_client}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 mb-3">
                <div class="form-group">
                    <label for="{{hotspotform.hotspot_users.id_for_label}}">Количество пользователей</label>
                    {{hotspotform.hotspot_users}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-4">
            {{ hotspotform.as_p }}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>

    </div>
</form>
            </div>
    </div>
</div>


{%endblock%}