{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-2">
            <div class="list-group">
              <a href="{% url 'commercial' %}" class="list-group-item list-group-item-action">Коммерческие</a>
              <a href="{% url 'pto' %}" class="list-group-item list-group-item-action">ПТО</a>
            </div>

        </div>
        <div class="col-6 offset-1">
            {% for i in tr %}
            <div class="card mb-3">
              <div class="card-header {% cycle 'text-danger' 'text-success' %} ">
                {{i.ticket_k}} version {{i.version}}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                    {% comment %}<a href="{% url 'get_tr' i.ticket_tr i.pk %}" class="card-link"><p>{{i.ticket_tr}}</p></a> {% endcomment %}

                    {% for child in i.children.all %}
                    {{child.ticket_tr}}
                    {{child.oattr|linebreaks}}
                    {{child.pps}}
                    {{child.kad}}
                    {% for chichild in child.ortrtr_set.all %}
                    {{chichild.ortr|linebreaks}}
                    {% endfor %}
                    {% endfor %}
                  <footer class="blockquote-footer">{{i.created}} -- {{i.complited}}</footer>
                </blockquote>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}