{% extends 'tickets/nav_ticket.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 33%">Тип работ</th>
        <td class="table-light" style="width: 67%">{{job}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 33%">Описание работ</th>
        <td class="table-light" style="width: 67%">{{service_itv}}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="container">
    <div class="card mb-2">
        <h5 class="card-header">Параметры</h5>
            <div class="card-body">
                <form action="{% url 'itv' trID %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group connection">
                                    <label for="{{ itvform.type_phone.id_for_label }}">Подключение:</label>
                                    {{itvform.connect}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mb-1">
                                <div class="form-group">
                                    <label for="{{itvform.type_itv.id_for_label}}">Способ организации услуги ITV:</label>
                                    {{itvform.type_itv}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mb-1">
                                <div class="form-group mount">
                                    <label for="{{itvform.need_line_itv.id_for_label}}">Монтаж линий до приставок:</label>
                                    {{itvform.need_line_itv}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mb-1">
                                <div class="form-group">
                                    <label for="{{itvform.cnt_itv.id_for_label}}">Количество приставок:</label>
                                    {{itvform.cnt_itv}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mb-1">
                                <div class="form-group router">
                                    <label for="{{itvform.router_itv.id_for_label}}">Маршрутизатор для иТВ:</label>
                                    {{itvform.router_itv}}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Назад</a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>

<script>

$(function () {
    $(".router").hide();
    $(".connection").hide();
});

$(function () {
  $("#id_type_itv").change(function() {
    var val = $(this).val();
    if(val === "vl") {
        $(".mount").hide();
        $(".router").show();
        $(".connection").show();

    }
    else if(val === "novlexist") {
        $(".connection").show();
        $(".router").hide();
        $(".mount").show();
    }
    else {
        $(".mount").show();
        $(".router").hide();
        $(".connection").hide();
        $('#id_connect').val('');
    }
});
});

</script>


{%endblock%}