{% extends 'tickets/nav_ticket.html' %}
{% block content %}
{% load custom_filters %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">

<table class="table table-bordered">
  <tbody>
    <tr>
          <th class="table-secondary text-right" style="width: 25%" >Узел связи</th>
          <td class="table-light" style="width: 75%">{{pps}}</td>
      </tr>
  </tbody>
</table>

</div>


<div class="container">
<div id="accordion">
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          <a role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Подключение</a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{head|linebreaksbr}}
      </div>
    </div>
  </div>
    {% if request.user|has_group:"Сотрудники ОУЗП" %}
  <div class="card mb-2">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Решение ОТПМ</a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        {{oattr|linebreaksbr}}
      </div>
    </div>
  </div>
    {% endif %}
</div>
</div>



<div class="container">
    <div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">

<form action="{% url 'job_formset' trID %}" method="post">
    {{ formset.management_form }}   {%comment%}Нужен, чтобы срабатывал метод is_valid(){%endcomment%}
    {% csrf_token %}
    <div class="container">
        <div class="row">
                <table class="table table-striped">
                      <thead>
                        <tr>
                          {%comment%}<th scope="col"></th>{%endcomment%}
                          <th class="col-4">Вид работ</th>
                          <th class="col-8">Услуга</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for form in formset %}

                        <tr>
                          {%comment%}<th scope="row">{{forloop.counter}}</th>{%endcomment%}
                          <td>{{ form.as_p }}</td>

                              {% for element in services %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                              <td>
                                {{element}}
                                  </td>
                                {% endif %}
                              {% endfor %}

                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{% url 'sppdata' ticket_tr.ticket_tr %}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
    </div>
</div>
{% endblock %}