{% extends 'tickets/nav_ticket.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Услуга</th>
        <td class="table-light" style="width: 75%">{{service_lvs}}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'local' trID %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{localform.local_type.id_for_label}}">Тип:</label>
                    {{localform.local_type}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group ports">
                    <label for="{{localform.local_ports.id_for_label}}">Количество портов:</label>
                    {{localform.local_ports}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group socket_need">
                    <label for="{{localform.local_socket_need.id_for_label}}">Требуются розетки RJ-45:</label>
                    {{localform.local_socket_need}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group socket">
                    <label for="{{localform.local_socket.id_for_label}}">Количество розеток:</label>
                    {{localform.local_socket}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group cable_channel">
                    <label for="{{localform.local_cable_channel.id_for_label}}">Длина кабель-канала (метров):</label>
                    {{localform.local_cable_channel}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group sks_router">
                    <label for="{{localform.sks_router.id_for_label}}">Подключить линии связи в маршрутизатор:</label>
                    {{localform.sks_router}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group sks_transceiver">
                    <label for="{{localform.sks_transceiver.id_for_label}}">Конвертеры:</label>
                    {{localform.sks_transceiver}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group lvs">
                    <label for="{{localform.lvs_busy.id_for_label}}">Нет свободных портов в маршрутизаторе:</label>
                    {{localform.lvs_busy}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group lvs">
                    <label for="{{localform.lvs_switch.id_for_label}}">Установка коммутатора:</label>
                    {{localform.lvs_switch}}
                </div>
            </div>
        </div>






        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>
  </div>
</div>
</div>


<script>

$(function () {
    $(".cable_channel").hide();

    $(".socket_need").show();
    $(".socket").hide();
    $(".sks_transceiver").hide();
    $(".lvs").hide();
    $(".sks_router").show();
});

$(function () {
  $("#id_local_type").change(function() {
    var val = $(this).val();
    if(val.includes("business")) {
        $("#id_local_ports").prop("required", true);
        $(".ports").show();
        $(".cable_channel").show();
        $(".sks_transceiver").hide();
        $(".socket_need").show();
        if(val.includes("lvs")) {
            $(".lvs").show();
            $(".sks_router").hide();
        }
        else {
            $(".lvs").hide();
            $(".sks_router").show();

        }
    }
    else if(val.includes("vols")) {
        $("#id_local_ports").prop("required", true);
        $("#id_local_cable_channel").val("");
        $(".ports").show();
        $(".sks_transceiver").show();
        $(".cable_channel").hide();
        $(".socket").hide();
        $(".socket_need").hide();
        $(".lvs").hide();
        $(".sks_router").hide();
    }
    else if(val.includes("standart")) {
        $("#id_local_ports").prop("required", true);
        $("#id_local_cable_channel").val("");
        $(".ports").show();
        $(".sks_transceiver").hide();
        $(".cable_channel").hide();
        $(".socket").hide();
        $(".socket_need").show();
        if(val.includes("lvs")) {
            $(".lvs").show();
            $(".sks_router").hide();
        }
        else {
            $(".lvs").hide();
            $(".sks_router").show();

        }
    }

    else {
        $(".cable_channel").hide();
        $("#id_local_cable_channel").val("");
        $(".sks_transceiver").hide();
        $(".socket").hide();
        $(".socket_need").hide();
        $(".lvs").hide();
        $(".sks_router").hide();
        $(".ports").hide();
        $("#id_local_ports").prop("required", false);
    }
});
});




$(function () {
  $("#id_local_socket_need").change(function() {
    var val = $(this).val();
    if(this.checked) {
        $(".socket").show();
    }
    else {
        $(".socket").hide();
        $("#id_local_socket").val("");
    }
});
});



</script>


{% endblock %}