{% extends 'base.html' %}

{% block nav_active %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'private_page' %}">Личное пространство</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'mko' %}">В пуле ОРТР</a>
</li>

{% endblock %}

{% block content %}



<div class="container">

    <div class="row mt-3">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">№ Заявки</th>
          <th scope="col">Клиент</th>
            <th scope="col">Точка подключения</th>
            {%comment%}<th scope="col">Технолог</th>{%endcomment%}

            <th scope="col">Куратор</th>
            <th scope="col">Работает</th>
            {% comment %}<th scope="col">Статус</th>{% endcomment %}
            <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
      {% if search %}
      {% for ticket in search %}

        <tr>
            <th scope="row">{{forloop.counter}}</th>

            <td><a href="https://sss.corp.itmh.ru/dem_tr/dem_begin.php?dID={{ticket.1}}">{{ticket.0}}</a></td>
            <td>{{ticket.2}}</td>
            <td>{{ticket.3}}</td>
            {%comment%}<td>{{ticket.4}}</td>{%endcomment%}

            <td>{{ticket.5}}</td>
            <td></td>
            {% comment %}<td>{{ticket.6}}</td>{% endcomment %}
            <td>
                <a class="btn btn-outline-danger custom" href="{% url 'add_spp' ticket.1 %}?next={{ request.path }}" role="button">Обработать заявку</a>
            </td>
        </tr>

      {% endfor %}
      {% endif %}
      </tbody>
        <tbody>
      {% for ticket in spp_process %}
        <tr>
            <th scope="row">{{search|length|add:forloop.counter}}</th>
            {% if ticket.type_ticket == 'ПТО' %}
            <td><a href="https://sss.corp.itmh.ru/dem_tr/dem_begin.php?dID={{ticket.dID}}">{{ticket.ticket_k}} {{ticket.type_ticket}}</a></td>
            {% else %}
            <td><a href="https://sss.corp.itmh.ru/dem_tr/dem_begin.php?dID={{ticket.dID}}">{{ticket.ticket_k}}</a></td>
            {% endif %}
            <td>{{ticket.client}}</td>
            <td> {%comment%}{{ticket.des_tr}}{%endcomment%}
            {% for it in ticket.des_tr %}
                {% for k, v in it.items %}
                {%comment%}{% if forloop.counter == 1 %}{%endcomment%}
                {% if 'г.' in k and forloop.counter == 1 or forloop.counter == 2 %}
                {{k}}
                {% endif %}
                {%endfor%}
                {%endfor%}


            </td>
            {%comment%}<td>{{ticket.technolog}}</td>{%endcomment%}

            <td>{{ticket.manager}}</td>
            <td>{{ticket.user.last_name}}</td>


            <td>
                {% comment %}{% if ticket.user.username == user.username%}{% endcomment %}
                <a class="btn btn-outline-info custom" href="{% url 'spp_view_save' ticket.dID ticket.id %}" role="button">Перейти к заявке</a>
                {% comment %}{% endif %}{% endcomment %}
            </td>

        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

</div>

{% endblock %}