{% extends 'base.html' %}

{% block nav_active %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'private_page' %}">Личное пространство</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'ortr' %}">В пуле ОРТР</a> {%comment%}?next={{ request.path }}{%endcomment%}
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'spp_view_save' dID ticket_spp_id %}">К заявке</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'search' %}">Поиск</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Утилиты
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'get_title_tr' %}">Формирование заголовка</a>
  </div>
</li>
{% endblock %}