
{% extends 'base.html' %}

{% block nav_active %}
{% load custom_filters %}
{% if request.user|has_group:"Менеджеры" %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'mko' %}">Пул заявок</a>
</li>
{% elif request.user|has_group:"Сотрудники ОУЗП" %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'ortr' %}">Пул заявок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'search' %}">Поиск</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Утилиты
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'get_title_tr' %}">ТР. Формирование заголовков</a>
      <a class="dropdown-item" href="{% url 'free_ppr' %}" target ="_blank">ППР. Добавление ресурсов</a>
      <a class="dropdown-item" href="{% url 'ppr_check' %}" target ="_blank">ППР. Проверка сервисов</a>
      <a class="dropdown-item" href="{% url 'rezerv_1g' %}">СПД. Анализ портов</a>
      <a class="dropdown-item" href="{% url 'dwdm' %}">СПД. Калькулятор параметров DWDM магистрали</a>
      <a class="dropdown-item" href="{% url 'am_tag_analysis' %}">СПД. Анализ свободных тегов на АМ</a>
  </div>
</li>
{% endif %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'spp_view_save' dID ticket_spp_id %}">Заявка</a>
</li>

{% endblock %}