{% extends 'tickets/nav_ticket.html' %}
{% block content %}

<div class="container">
    <table class="table table-bordered">
      <tbody>
        <tr>

        <th class="table-secondary text-right" style="width: 25%" rowspan="{{pass_job_services|length}}">Услуг{{ pass_job_services|length|pluralize:"а,и" }}</th>
{% for i in pass_job_services%}
        <td class="table-light" style="width: 75%">{{i}}</td>

        </tr>
{% endfor %}
      </tbody>
    </table>
</div>


<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'params_extend_service' %}" method="post">
    {% csrf_token %}
    <div class="container">
        {% if type_passage == 'Перевод на гигабит' %}
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ extendserviceform.extend_speed.id_for_label }}">Новая полоса</label>
                    {{extendserviceform.extend_speed}}
                </div>
            </div>
        </div>
        {% endif %}
        {% if desc_service == 'ЦКС' or desc_service == 'Порт ВЛС' %}
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ extendserviceform.extend_policer_cks_vk.id_for_label }}">Ограничение</label>
                    {{extendserviceform.extend_policer_cks_vk}}
                </div>
            </div>
        </div>
        {% elif desc_service == 'Порт ВМ' %}
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ extendserviceform.extend_policer_vm.id_for_label }}">Ограничение</label>
                    {{extendserviceform.extend_policer_vm}}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Вернуться</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
</form>
        </div>
</div>
</div>

{% endblock %}
