{% extends 'tickets/nav_ticket.html' %}
{% block content %}

<div class="container">
    <table class="table table-bordered">
      <tbody>
        <tr>
            <th class="table-secondary text-right" style="width: 25%">Узел связи</th>
            <td class="table-light" style="width: 75%">{{pps}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container">
<div id="accordion">
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          <a role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Подключение</a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{head|linebreaksbr}}
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Решение ОТПМ</a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        {{oattr|linebreaksbr}}
      </div>
    </div>
  </div>

</div>
</div>

<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'pass_serv' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-4">
            {{ passservform.as_p }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Вернуться</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
</form>
        </div>
</div>
</div>

{% endblock %}
