{% extends 'tickets/nav_ticket.html' %}
{% block content %}
{% load custom_filters %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Услуга</th>
        <td class="table-light" style="width: 75%">{{service_vgw}}</td>
    </tr>
  </tbody>
</table>
</div>
{% if request.user|has_group:"Сотрудники ОУЗП" %}
<div class="container">
<div id="accordion">
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          <a role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Решение ОТПМ</a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{oattr|linebreaksbr}}
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
{% if vats == True %}
<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'phone' trID %}" method="post">
    {% csrf_token %}
    <div class="container">

        <div class="row">
            <div class="col-4">
                <div class="form-group sip">
                    <label for="{{ form.type_phone.id_for_label }}">Тип телефонии</label>
                    {{form.type_phone}}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group vgw">
                    <label for="{{ form.vgw.id_for_label }}">Установка шлюза</label>
                    {{form.vgw}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group vgw">
                    {{form.form_exist_vgw_name}}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group vgw">
                    {{form.form_exist_vgw_model}}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group vgw">
                    {{form.form_exist_vgw_port}}
                </div>
            </div>
            <div class="col-2">
                <div class="form-group vgw">
                <a class="btn btn-info btn-block" href="{% url 'vgws' trID %}" target ="_blank" role="button">Шлюзы</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="{{ form.channel_vgw.id_for_label }}">Канальность тел. номеров</label>
                    {{form.channel_vgw}}
                </div>
            </div>
        </div>
        <div id="forms">
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-success btn-block add_item_btn">Добавить</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group vats_ports">
                    <label for="{{ form.ports_vgw.id_for_label }}">Количество портов ВАТС</label>
                    {{form.ports_vgw}}
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Вернуться</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
                </div>
            </div>
            <div class="col-1">
            </div>

        </div>
    </div>
</form>
        </div>
</div>
</div>
{% else %}
<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'phone' trID %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ form.type_phone.id_for_label }}">Тип телефонии</label>
                    {{form.type_phone}}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group vgw">
                    <label for="{{ form.vgw.id_for_label }}">Установка шлюза</label>
                    {{form.vgw}}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group vgw">
                    {{form.form_exist_vgw_name}}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group vgw">
                    {{form.form_exist_vgw_model}}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group vgw">
                    {{form.form_exist_vgw_port}}
                </div>
            </div>
            <div class="col-2">
                <div class="form-group vgw">
                <a class="btn btn-info btn-block" href="{% url 'vgws' trID %}" target ="_blank" role="button">Шлюзы</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="{{ form.channel_vgw.id_for_label }}">Канальность тел. номеров</label>
                    {{form.channel_vgw}}
                </div>
            </div>

        </div>
        <div id="forms">
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-success btn-block add_item_btn">Добавить</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group trunk">
                    <label for="{{ form.types_ip_trunk.id_for_label }}">Режим порта для IP-транк</label>
                    {{form.type_ip_trunk}}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>

        </div>
    </div>
</form>
              </div>
</div>
</div>
{%endif%}


<script>

$(function () {
    $(".vgw").hide();
    $(".trunk").hide();

    var vats_extend = "{{vats_extend}}";
    console.log(vats_extend)
    if(vats_extend) {
        $(".vats_ports").show();
    }
    else {
        $(".vats_ports").hide();
    }
});

$(function () {
  $("#id_type_phone").change(function() {
    var val = $(this).val();
    if(val.includes("a")) {
        $(".vgw").show();
        $(".trunk").hide();
        $(".vats_ports").show();
    }
    else if(val.includes("st")) {
        $(".trunk").show();
        $(".vgw").hide();
        $(".vats_ports").hide();
    }
    else if(val.includes("s")) {
        $(".trunk").hide();
        $(".vgw").hide();
        var vats_extend = "{{vats_extend}}";
        if(vats_extend) {
            $(".vats_ports").show();
        }
        else {
            $(".vats_ports").hide();
        }
    }
    else {
        $(".vgw").hide();
        $(".trunk").hide();
    }
});
});

var counter=0
    $(document).ready(function() {

      $(".add_item_btn").click(function(e){
          e.preventDefault();
          counter+=1;
                $("#forms").append(`

                        <div class="row">


                            <div class="col-3">
                                <div class="form-group get_node">

                                    <input type="number" name="channel_vgw_${counter}" class="form-control" required="True" placeholder="Канальность номера">
                                </div>
                            </div>

                            <div class="col-1">
                                <div class="form-group get_node">
                                    <button class="btn btn-danger remove_item_btn">
                                    <span class="ui-icon ui-icon-close" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Close</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                          `);
                          });

      $(document).on("click",".remove_item_btn",function(e){
          e.preventDefault();
          let row_item = $(this).parent().parent().parent();
          $(row_item).remove();
      });
    });

</script>

{%endblock%}