{% extends 'tickets/nav_ticket.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">

<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Услуга</th>
        <td class="table-light" style="width: 75%">{{services_vk}}</td>

    </tr>
  </tbody>
</table>

</div>

<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'portvk' trID %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb video alert-danger">
                    <p class="breadcrumb-item"><b>Внимание.</b><br>На коммутаторах AR03-25.ekb, AR13-23.ekb, AR149-02.ekb индивидуальная схема организации sub-interface (<a href="https://ckb.itmh.ru/x/gQdaH" target ="_blank">смотри документ</a>, раздел "Схема. ЦКС между разными доменами агрегации").</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{portvkform.type_vk.id_for_label}}">Тип:</label>
                    {{portvkform.type_vk}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group exist">
                    <label for="{{portvkform.exist_vk.id_for_label}}">Название ВЛС:</label>
                    {{portvkform.exist_vk}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{portvkform.policer_vk.id_for_label}}">Точка ограничения сервиса:</label>
                    {{portvkform.policer_vk}}
                </div>
            </div>
        </div>


        {% if trunk_turnoff_off %}
        {% elif trunk_turnoff_on %}
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{portvkform.exist_service.id_for_label}}">Режим порта существующей услуги:</label>
                    {{portvkform.exist_service}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-4 mb-1">
                <div class="form-group">
                    <label for="{{portvkform.type_portvk.id_for_label}}">Режим порта:</label>
                    {{portvkform.type_portvk}}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>
  </div>
</div>
</div>

<script>
$(function () {
    $(".exist").show();
});

$(function () {
  $("#id_type_vk").change(function() {
    var val = $(this).val();

    if (val === "Cуществующая ВЛС") {
        $(".exist").show();
    }
    else {
        $(".exist").hide();
    }
});
});

</script>

{%endblock%}