{% extends 'base.html' %}

{% block content %}



<div class="container">
	<div class="card mb-2">
            <h5 class="card-header">Параметры</h5>
          <div class="card-body">
					<div class="row mt-3">
                        <div class="col-4">
                                <div class="form-group get_node">
                                    <button class="btn btn-info btn-block" id="id_get_node" type="button">
                                      <span class="" role="status" aria-hidden="true"></span>
                                        <span class="sr-only">Lo...</span>
                                        Проверить ППР
                                    </button>

                                </div>
                            </div>
                    </div>
			  		<div id="forms">
                    </div>
		  </div>
	</div>
</div>


<script>
$(function () {

	$('#id_get_node').click(function () {
          $(this).find('span').addClass('spinner-border spinner-border-sm');
          // создаем AJAX-вызов
          $.ajax({
              url: "{% url 'ppr_test_get_page_check' %}",
              // если успешно, то
              success: function (response) {
                  $('#id_get_node').find('span').removeClass('spinner-border spinner-border-sm');
                  if (response.error) {
                      alert(response.error);
                      $('#id_username').removeClass('is-valid').addClass('is-invalid');
                      $('#id_username').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
                  }

                  else {
                      $("#forms").children().remove();
                      console.log(response.result)

                      var dict = response.result
                      var result = response.result

                      for (let [key, value] of Object.entries(dict)) {


                      if (key.includes("table_resource")) {
                      	console.log(111)
                      	var message = dict[key].messages;
                      	var set = dict[key].set;
                      	var row = 0


						$("#forms").append(`

						${message}
						<a class="but_${key}" id="button_${key}">(показать)</a>


						<table class="table table-striped" id="${key}">
						<thead>
							<tr>
								<th style="font-size:80%;">Номер договора</th>
								<th style="font-size:80%;">ФИО/Название</th>
								<th style="font-size:80%;">Тип</th>
								<th style="font-size:80%;">Ресурс</th>
								<th style="font-size:80%;">Бандл</th>
								<th style="font-size:80%;">Коммутатор</th>
								<th style="font-size:80%;">Порт</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
						</table>
						`);
						console.log($("#"+key).find('tbody'))
						for (let row = 0; row < set.length; row++) {
						$("#"+key).find('tbody').append(`
						<tr>
							<td style="font-size:80%;">${set[row][0]}</td>
							<td style="font-size:80%;">${set[row][1]}</td>
							<td style="font-size:80%;">"${set[row][2]}"</td>
							<td style="font-size:80%;">"${set[row][3]}"</td>
							<td style="font-size:80%;">"${set[row][4]}"</td>
							<td style="font-size:80%;">"${set[row][5]}"</td>
							<td style="font-size:80%;">"${set[row][6]}"</td>
						</tr>
                          `);
						}
                      }
                      else if (key.includes("table_device")) {

                      	console.log(111)
                      	var message = dict[key].messages;
                      	var set = dict[key].set;
                      	var row = 0
						$("#forms").append(`
						${message}
						<a class="but_${key}" id="button_${key}"> (показать)</a><br >
						<table class="table table-striped" id="${key}">
						<thead>
							<tr>
								<th style="font-size:80%;">Коммутатор</th>
								<th style="font-size:80%;">Узел связи</th>
								<th style="font-size:80%;">Модель устройства</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
						</table>
						`);
						console.log($("#"+key).find('tbody'))
						for (let row = 0; row < set.length; row++) {
						$("#"+key).find('tbody').append(`
							<tr>
								<td style="font-size:80%;">${set[row][0]}</td>
								<td style="font-size:80%;">${set[row][1]}</td>
								<td style="font-size:80%;">"${set[row][2]}"</td>
							</tr>
							  `);
						}

					}
					else {
					    console.log(111)
                      	var message = dict[key].messages;
						$("#forms").append(`
						<p>${message}</p>

						`);
					}

					$('#forms').on('click', '.but_'+key, function() {
					console.log($('#'+key))
					if ($('#'+key).css('display') == 'none') {
                        $('#'+key).show();
                        $(this).text('(скрыть)');
                    }
                    else {
                        $('#'+key).hide();
                        $(this).text('(показать)');
                    }
					});

                    }
					$('.table').css("display","none");
				}
              },
              error: function (response) {
                  $('#id_get_node').find('span').removeClass('spinner-border spinner-border-sm');
                  alert("Не удалось получить объекты Спецификации.");

              }
          });
          return false;
        });
});





</script>

{% endblock %}