{% extends 'base.html' %}
{% block content %}



<div class="container">

    <div class="row mt-3">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
            <th scope="col">Дата</th>
          <th scope="col">№ Заявки</th>
          <th scope="col">Клиент</th>
            <th scope="col">Точка подключения</th>
            <th scope="col">Время начала</th>
            <th scope="col">Время окончания</th>
            <th scope="col">Время</th>
        </tr>
      </thead>
      <tbody>

        <tbody>
      {% for ticket in spp_success %}
        <tr>
            <th scope="row">{{search|length|add:forloop.counter}}</th>

            <td class="custom">{{ticket.created|date:"d.m.Y"}}</td>
            <td><a href="{% url 'spp_view_save' ticket.dID ticket.id %}">{{ticket.ticket_k}}</a></td>
            <td>{{ticket.client}}</td>
            <td> {%comment%}{{ticket.des_tr}}{%endcomment%}
            {% for it in ticket.des_tr %}
                {% for k, v in it.items %}
                {%comment%}{% if forloop.counter == 1 %}{%endcomment%}
                {% if 'г.' in k and forloop.counter == 1 or forloop.counter == 2 %}
                {{k}}
                {% endif %}
                {%endfor%}
                {%endfor%}


            </td>
            <td>{{ticket.created|time:"H:i"}}</td>
            <td>{{ticket.complited|time:"H:i"}}</td>

            <td>{{ticket.created|timesince:ticket.complited}}</td>

        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

</div>

{% endblock %}