{% extends 'base.html' %}
{% block content %}
{% if trID != 1 %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>
{% endif %}
{% if task_otpm %}
<div class="container">

<table class="table table-bordered">
  <tbody>
      <tr>
            <th class="table-secondary text-right" style="width: 25%">Задача в ОТПМ</th>
            <td class="table-light" style="width: 75%">{{task_otpm|linebreaks}}</td>
        </tr>
  </tbody>
</table>

</div>
{% endif %}

<div class="container">
    <div class="card mt-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
      <p class="card-text">Выбрать 1 ресурс для работ</p>
<form action="{% url 'resources_formset' trID %}" method="post">
    {{ formset.management_form }}   {%comment%}Нужен, чтобы срабатывал метод is_valid(){%endcomment%}
    {% csrf_token %}
    <div class="container">
        <div class="row">
                <table class="table table-striped">
                      <thead>
                        <tr>
                          {%comment%}<th scope="col"></th>{%endcomment%}
                          <th scope="col"></th>
                          <th scope="col">Точка подключения</th>
                            <th scope="col">Ресурс</th>
                            <th scope="col">Описание</th>
                            <th scope="col">КАД</th>
                            <th scope="col">Порт</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for form in formset %}

                        <tr>
                          {%comment%}<th scope="row">{{forloop.counter}}</th>{%endcomment%}
                          <td>{{ form.as_p }}</td>

                              {% for element in ono_for_formset %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                              <td>
                                {{element.0}}
                                  </td>
                            <td>
                                {{element.1}}
                                  </td>
                            <td>
                                {{element.2}}
                                  </td>
                            <td>
                                {{element.3}}
                                  </td>
                            <td>
                                {{element.4}}
                                  </td>
                                {% endif %}
                              {% endfor %}

                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{% url 'get_resources' trID %}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
    </div>
</div>
{% endblock %}