{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="card mb-2">
      <h5 class="card-header">Решение ОТПМ</h5>
      <div class="card-body">
        <p class="card-text">{{oattr|linebreaksbr}}</p>
      </div>
    </div>
    <form id="form" action="{% url 'rtk' %}" method="post">
        {% csrf_token %}

        <div class="card mb-2">
            <h5 class="card-header">Параметры</h5>
          <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="{{form.vlan.id_for_label}}">Vlan</label>
                                {{form.vlan}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="{{form.type_pm.id_for_label}}">Тип последней мили</label>
                                {{form.type_pm}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group switch_ip">
                                <label for="{{form.switch_ip.id_for_label}}">IP коммутатора</label>
                                {{form.switch_ip}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group switch_port">
                                <label for="{{form.switch_port.id_for_label}}">Порт коммутатора</label>
                                {{form.switch_port}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group optic_socket">
                                <label for="{{form.optic_socket.id_for_label}}">Опт. розетка</label>
                                {{form.optic_socket}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group ploam">
                                <label for="{{form.ploam.id_for_label}}">PLOAM-пароль</label>
                                {{form.ploam}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-2">
                                <div class="form-group">
                                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Вернуться</a>
                                </div>
                            </div>
                        <div class="col-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
                            </div>
                        </div>
                    </div>
          </div>

        </div>
    </form>
</div>


<script>

$(function () {
	$(".switch_ip").hide()
	$(".switch_port").hide();
    $(".optic_socket").hide();
    $(".ploam").hide();
});


$(function () {
  $("#id_type_pm").change(function() {
    var val = $(this).val();
    console.log(1)
    if(val === "ПМ") {
        $(".switch_ip").hide();
        $(".switch_port").hide();
        $(".optic_socket").hide();
        $(".ploam").hide();
        $("#id_switch_ip").removeAttr('required');
        $("#id_switch_port").removeAttr('required');
        $("#id_optic_socket").removeAttr('required');
        $("#id_ploam").removeAttr('required');
    }

    else if(val === "FVNO Медь") {
        $(".switch_ip").show();
        $(".switch_port").show();
        $(".optic_socket").hide();
        $(".ploam").hide();
        $("#id_switch_ip").attr("required", "True");
        $("#id_switch_port").attr("required", "True");
        $("#id_optic_socket").removeAttr('required');
        $("#id_ploam").removeAttr('required');
    }
    else if(val === "FVNO FTTH") {
        $(".switch_ip").show();
        $(".switch_port").show();
        $(".optic_socket").show();
        $(".ploam").hide();
        $("#id_switch_ip").attr("required", "True");
        $("#id_switch_port").attr("required", "True");
        $("#id_optic_socket").removeAttr('required');
        $("#id_ploam").removeAttr('required');
    }
    else if(val === "FVNO GPON") {
        $(".switch_ip").show();
        $(".switch_port").show();
        $(".optic_socket").hide();
        $(".ploam").show();
        $("#id_switch_ip").attr("required", "True");
        $("#id_switch_port").attr("required", "True");
        $("#id_optic_socket").removeAttr('required');
        $("#id_ploam").attr("required", "True");
    }

  });
});

</script>

{% endblock %}
