{% extends 'tickets/nav_ticket.html' %}
{% block content %}

{% load widget_tweaks %}

<div class="container">

<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%" rowspan="{{services_plus_desc|length}}">Услуг{{ services_plus_desc|length|pluralize:"а,и" }}</th>
      {% for i in services_plus_desc%}
        <td class="table-light" style="width: 75%">{{i}}</td>
    </tr>
  {% endfor %}
  <tr>
        <th class="table-secondary text-right" style="width: 25%" >ТР</th>
        <td class="table-light" style="width: 75%">{{ticket_k}}</td>
    </tr>
  </tbody>
</table>

</div>

{% if list_switches %}
<div class="container">
    <table class="table table-striped" id="switch">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Модель</th>
            <th scope="col">IP-адрес</th>
            <th scope="col">Uplink</th>
            <th scope="col">Статус</th>
            <th scope="col">Описание</th>

            <th scope="col">Кл.</th>
            <th scope="col">Лин.</th>
            <th scope="col">Своб.</th>
            <th scope="col">Всего</th>
        </tr>
      </thead>
      <tbody>
      {% for switch in list_switches %}
        <tr>
            <th scope="row"></th>

            <td>{{switch.0}}</td>
            <td>{{switch.1}}</td>
            <td><a href="telnet://{{switch.2}}">{{switch.2}}</a></td>
            <td>{{switch.3}}</td>
            {%if switch.4 == 'ВЫКЛ'%}
            <td style="color:red;font-weight:bold">{{switch.4}}</td>
            {%else%}
            <td style="color:green;font-weight:bold">{{switch.4}}</td>
            {%endif%}
            <td>{{switch.5}}</td>

            <td>{{switch.7}}</td>
            <td>{{switch.8}}</td>
            <td>{{switch.9}}</td>
            <td>
                <a href="#myModal{{forloop.counter}}" data-toggle="modal">{{switch.6}}</a> <!--если добавить сюда class="btn btn-link" то расположение сместится чуть ниже остальных в ряду-->
            <!-- HTML-код модального окна -->
            <div id="myModal{{forloop.counter}}" class="modal fade">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <!-- Заголовок модального окна -->
                  <div class="modal-header">
                    <h4 class="modal-title">Порты</h4>
                  </div>
                  <!-- Основное содержимое модального окна -->
                  <div class="modal-body">
                      <table>
                          <thead>
                            <tr>
                                <th scope="col">#</th>
                              <th scope="col">Порт</th>
                                <th scope="col">Тэг</th>
                              <th scope="col">Договор</th>
                                <th scope="col">Дескрипшн</th>
                                <th scope="col">Заглушка</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for key, value in switch.10.items %}
                                <tr>
                                    <th scope="row"></th>

                                    <td>{{key}}</td>
                                    <td>{{value.0}}</td>
                                    <td>{{value.1}}</td>
                                    <td>{{value.2}}</td>
                                    <td>{{value.3}}</td>


                                </tr>
                                {% endfor %}
                          </tbody>
                        </table>
                  </div>

                  <!-- Футер модального окна -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

                  </div>
                </div>
              </div>
            </div>
            </td>

        </tr>

      {% endfor %}
      </tbody>
    </table>
</div>

{% endif %}




<div class="container">
    <div class="card mb-2">
      <h5 class="card-header">Решение ОТПМ</h5>
      <div class="card-body">
        <p class="card-text">{{oattr|linebreaksbr}}</p>
      </div>
    </div>



    {% if counter_str_ots == 1 %}
          <form action="{% url 'saved_data' trID %}" method="post">
            {% csrf_token %}
              <div class="card mb-2">
      <h5 class="card-header">Решение ОРТР</h5>
      <div class="card-body">
              <div class="col-6 mt-2">
                <div class="form-group">
                    <label for="{{ ortrform.pps.id_for_label }}">ППС</label>
                    {{ortrform.pps}}
                </div>
            </div>
              <div class="col-6 mt-2">
                <div class="form-group">
                    <label for="{{ ortrform.kad.id_for_label }}">КАД</label>
                    {{ortrform.kad}}
                </div>
            </div>

                <div class="mt-2">
                <div class="form-group">
                {% render_field ortrform.ortr_field rows=counter_str_ortr %}
                    </div>
            </div>
              <div class="row">
                  {% if not_required_tr == False %}
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{back_link}}" role="button">Вернуться</a>
                </div>
            </div>
                  {% endif %}
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                </div>
            </div>
              <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-outline-info btn-block" href="{% url 'send_to_spp' ticket_tr.ticket_tr %}" target ="_blank" role="button">Отправить</a>
                </div>
            </div>
              <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-outline-info btn-block" href="{% url 'specification' ticket_tr.ticket_tr %}" target ="_blank" role="button">Спецификация</a>
                </div>
            </div>
        </div>

      </div>

    </div>

          </form>

              {% else %}
    <form action="{% url 'saved_data' trID %}" method="post">
            {% csrf_token %}
              <div class="card mb-2">
      <h5 class="card-header">Решение ОРТР</h5>
      <div class="card-body">
              <div class="col-6 mt-2">
                <div class="form-group">
                    <label for="{{ ortrform.pps.id_for_label }}">ППС</label>
                    {{ortrform.pps}}
                </div>
            </div>
              <div class="col-6 mt-2">
                <div class="form-group">
                    <label for="{{ ortrform.kad.id_for_label }}">КАД</label>
                    {{ortrform.kad}}
                </div>
            </div>

                <div class="mt-2">
                <div class="form-group">
                {% render_field ortrform.ortr_field rows=counter_str_ortr %}
                    </div>
            </div>

          <div class="row">
              {% if not_required_tr == False %}
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{back_link}}" role="button">Вернуться</a>
                </div>
            </div>
              {% endif %}
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                </div>
            </div>
              <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-outline-info btn-block" href="{% url 'send_to_spp' ticket_tr.ticket_tr %}" target ="_blank" role="button">Отправить</a>
                </div>
            </div>
              <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-outline-info btn-block" href="{% url 'specification' ticket_tr.ticket_tr %}" target ="_blank" role="button">Спецификация</a>
                </div>
            </div>
        </div>

      </div>

    </div>
    <div class="card mb-2">
      <h5 class="card-header">Решение ОТC</h5>
      <div class="card-body">
            {% render_field ortrform.ots_field rows=counter_str_ots %}
      </div>
    </div>
         </form>
              {% endif %}

</div>

{%endblock%}