{% extends 'base.html' %}


{% block nav_active %}
{% load custom_filters %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'ortr' %}">Пул заявок</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'search' %}">Поиск</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Утилиты
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'get_title_tr' %}">Формирование заголовка</a>
      <a class="dropdown-item" href="{% url 'free_ppr' %}" target ="_blank">ППР</a>
  </div>
</li>
{% if request.user|has_group:"Руководство ОУЗП" %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'report_time_tracking' %}">Отчет</a>
</li>
{% endif %}
{% endblock %}


{% block content %}
{% load custom_filters %}

<div class="container">

<div class="card mb-2">
    <h5 class="card-header">Параметры поиска</h5>
  <div class="card-body">
<form action="{% url 'search' %}" method="get" id="myForm">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.spp.id_for_label }}">Заявка СПП:</label>
                    {{searchticketsform.spp}}
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.pps.id_for_label }}">ППС:</label>
                    {{searchticketsform.pps}}
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.start.id_for_label }}">Дата начала:</label>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        {{ searchticketsform.start}}
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <script>
                $(function () {
                    $("#datetimepicker1").datetimepicker({
                        format: 'DD.MM.YYYY',
                        locale: 'ru',
                    });
                });
                $(function () {
                    $("#datetimepicker2").datetimepicker({
                        format: 'DD.MM.YYYY',
                        locale: 'ru',
                    });
                });
            </script>

            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.tr.id_for_label }}">ТР:</label>
                    {{searchticketsform.tr}}
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.connection_point.id_for_label }}">Точка подключения:</label>
                    {{searchticketsform.connection_point}}
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.stop.id_for_label }}">Дата окончания:</label>
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        {{ searchticketsform.stop}}
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.ortr.id_for_label }}">Текст в ОРТР/ОТС:</label>
                    {{searchticketsform.ortr}}
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.client.id_for_label }}">Клиент:</label>
                    {{searchticketsform.client}}
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ searchticketsform.titles.id_for_label }}">Заголовки:</label>
                    {{searchticketsform.titles}}
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-4">
                <label for="{{ searchticketsform.client.id_for_label }}"></label>
                <button type="submit" style="margin-top:8px" class="btn btn-primary btn-block">Поиск</button>
            </div>
        </div>
    </div>
</form>
        </div>
</div>
</div>

{% if page_obj.has_other_pages %}
<nav class="mt-3" aria-label="Page navigation">
  <ul class="pagination justify-content-center">
      <li class="page-item">
      <a class="page-link" href="?{% url_replace page=page_obj.paginator.page_range.start %}" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">First</span>
      </a>
    </li>
      {% for p in page_obj.paginator.page_range %}
      {% if page_obj.number == p %}
    <li class="page-item active" aria-current="page"><a class="page-link" href="?{% url_replace page=p %}">{{ p }}<span class="sr-only">(current)</span></a> {%comment%}href="?page={{ p }}"{%endcomment%}
    </li>
      {% elif p < page_obj.number|add:3 and p > page_obj.number|add:-3 %}
      <li class="page-item"><a class="page-link" href="?{% url_replace page=p %}">{{ p }}</a></li> {%comment%}href="?page={{ p }}"{%endcomment%}
      {% endif %}
      {% endfor %}
      <li class="page-item">
      <a class="page-link" href="?{% url_replace page=page_obj.paginator.page_range.stop|add:-1 %}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Last</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}

<div class="container">


<table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
            <th scope="col">Дата</th>
          <th scope="col">№ Заявки</th>
            <th scope="col">ТР</th>
          <th scope="col">Клиент</th>
            <th scope="col">Заголовки</th>
            <th scope="col">Точка подключения</th>
            <th scope="col">Время начала</th>
            <th scope="col">Время окончания</th>
            <th scope="col">Технолог</th>
        </tr>
      </thead>
      <tbody>

        <tbody>
      {% for tr in page_obj %}
        <tr>
            {% if page_obj.number == 1 %}
            <th scope="row">{{forloop.counter}}</th>
            {% elif page_obj.number == 2 %}
            <th scope="row">{{forloop.counter|add:50}} </th>
            {% else %}
            <th scope="row">{{ page_obj.number | multiply:50 | add:forloop.counter}} </th>
            {% endif %}
            <td class="custom">{{tr.ticket_k.created|date:"d.m.Y"}}</td>
            <td><a href="{% url 'spp_view_save' tr.ticket_k.dID tr.ticket_k.id %}">{{tr.ticket_k}}</a></td>
            <td><a href="{% url 'tr_view_save' tr.ticket_k.dID tr.ticket_k.id tr.ticket_tr %}">{{tr.ticket_tr}}</a></td>
            <td>{{tr.ticket_k.client}}</td>
            <td style="font-size:75%;">{{tr.ortrtr_set.all.0.titles|linebreaks}}</td>
            <td> {{tr.connection_point}}</td>
            <td>{{tr.ticket_k.created|time:"H:i"}}</td>
            <td>{{tr.ticket_k.complited|time:"H:i"}}</td>
            <td>{{tr.ticket_k.user.last_name}}</td>

        </tr>
        {% endfor %}
      </tbody>

    </table>

</div>
{% endblock %}



