{% extends 'tickets/nav_ticket.html' %}
{% block content %}
{% load custom_filters %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Услуга</th>
        <td class="table-light" style="width: 75%">{{service_lvs}}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="container">
<div class="card mb-2">
    <h5 class="card-header">Параметры</h5>
  <div class="card-body">
<form action="{% url 'sks' trID %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="{{sksform.sks_router.id_for_label}}">Подключить порты ЛВС в маршрутизатор</label>
                    {{sksform.sks_router}}
                </div>
            </div>
        </div>
        {% if request.user|has_group:"Сотрудники ОУЗП" %}
        <div class="row">
            <div class="col-4">
                <div class="form-group vols">
                    <label for="{{sksform.sks_vols.id_for_label}}">ВОЛС</label>
                    {{sksform.sks_vols}}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-4">
                <div class="form-group transceiver">

                    {{sksform.sks_transceiver}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="{{back_link}}" role="button">Назад</a>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>
        </div>
</div>
</div>

<script>
$(function () {
    $(".transceiver").hide();
});


$(function () {
  $("#id_vols").change(function() {
        var dis = $(this).val();
        console.log(dis)
        if(this.checked) {
            $(".transceiver").show();
        }
        else {
            $(".transceiver").hide();
        }
    });
});
</script>


{% endblock %}