{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row mt-2">
<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Тип заявки</th>
        <td class="table-light" style="width: 75%">{{current_ticket_spp.type_ticket}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Клиент</th>
        <td class="table-light" style="width: 75%">{{current_ticket_spp.client}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Заявка К</th>
        <td class="table-light" style="width: 75%"><a href="https://sss.corp.itmh.ru/dem_tr/dem_begin.php?dID={{current_ticket_spp.dID}}">{{current_ticket_spp.ticket_k}}</a></td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Менеджер</th>
        <td class="table-light" style="width: 75%">{{current_ticket_spp.manager}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Технолог</th>
        <td class="table-light" style="width: 75%">{{current_ticket_spp.technolog}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Задача в ОТПМ</th>
        <td class="table-light" style="width: 75%">{{current_ticket_spp.task_otpm|linebreaksbr}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%" rowspan="{{current_ticket_spp.services|length}}">Перечень требуемых услуг</th>
        {% for k in current_ticket_spp.services %}
        <td class="table-light" style="width: 75%">{{k}}</td>
    </tr>
    {% endfor %}
    <tr>

        <th class="table-secondary text-right" style="width: 25%">Состав Заявки ТР</th>

        <td class="table-light" style="width: 75%">

            {% for i in current_ticket_spp.des_tr %}
            {% for k, v in i.items %}
            {% if 'Техрешение' in k or 'Тех Решение' in k %}
            <ul>
                {%comment%}<a href="/{{current_ticket_spp.dID}}/{{v.0}}/{{v.1}}">{{k}}</a><br >{%endcomment%}
                <a href="{% url 'tr_view_save' current_ticket_spp.dID current_ticket_spp.id v.1 %}">{{k}}</a><br >
                {% if current_ticket_spp.user.username == user.username and current_ticket_spp.process == True%}
                {%comment%}<a class="btn btn-outline-danger" href="{% url 'add_tr' current_ticket_spp.dID v.0 v.1 %}" role="button">Проектировать</a>{%endcomment%}
                {% comment %}<a class="btn btn-outline-danger" href="{% url 'edit_tr' current_ticket_spp.dID current_ticket_spp.id v.1 %}" role="button">Редактировать</a>{% endcomment %}
                {%comment%}<a class="btn btn-outline-danger" href="{% url 'manually_tr' current_ticket_spp.dID v.0 v.1 %}" role="button">Редактировать</a>{%endcomment%}
                {%comment%}<a class="btn btn-outline-danger" href="{% url 'add_spp_wait' current_ticket_spp.id %}" role="button">В ожидание</a>{%endcomment%}

                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Проектировать
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="{% url 'add_tr' current_ticket_spp.dID v.0 v.1 %}">Нов. точка</a>
                      <a class="dropdown-item" href="{% url 'add_tr_exist_cl' current_ticket_spp.dID v.0 v.1 %}">Сущ. точка</a>
                    </div>
                  </div>
                    <a class="btn btn-outline-danger" href="{% url 'manually_tr' current_ticket_spp.dID v.0 v.1 %}" role="button">Редактировать</a>
                    <a class="btn btn-outline-danger" href="{% url 'add_spp_wait' current_ticket_spp.id %}" role="button">В ожидание</a>
                </div>
                {% endif %}
            </ul>
            {% else %}
            {{k}}

            {% endif %}
            {% endfor %}
            {% endfor %}
        </td>

    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Примечание</th>
        <td class="table-light" style="width: 75%">{{current_ticket_spp.comment|linebreaksbr}}</td>
    </tr>


  </tbody>
</table>
  </div>

</div>




{% endblock %}