{% extends 'tickets/nav_ticket.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">Информация ТР №{{ticket_tr.ticket_tr}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">

<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Адрес</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.connection_point}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Клиент</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.ticket_k.client}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Менеджер</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.ticket_k.manager}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Технолог</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.ticket_k.technolog}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Задача в ОТПМ</th>
        <td class="table-light" style="width: 75%">{% autoescape off %}{{ticket_tr.ticket_k.task_otpm}}{% endautoescape %}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Отключение</th>
        {% if ticket_tr.turnoff %}
          <td class="table-light" style="width: 75%; color: red">Требуется отключение</td>
          {% else %}
            <td class="table-light" style="width: 75%">Нет</td>
          {% endif %}
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%" rowspan="{{ticket_tr.services|length}}">Услуг{{ ticket_tr.services|length|pluralize:"а,и" }}</th>
      {% for i in ticket_tr.services%}
        <td class="table-light" style="width: 75%">{{i}}</td>
    </tr>
    {% endfor %}
      <tr>
        <th class="table-secondary text-right" style="width: 25%">Узел связи</th>
          {% if ticket_tr.ticket_k.simplified_tr %}
              {% if ticket_tr.pps == 'Не выбран' %}
                <td class="table-light" style="width: 75%; color: red">Не выбран
                    <a class="btn btn-outline-danger" href="{% url 'addresses' 'ortr' ticket_tr.ticket_tr %}">Выбрать</a></td>
                {% else %}
                <td class="table-light" style="width: 75%">{{ticket_tr.pps}} <a class="btn btn-outline-success" href="{% url 'addresses' 'ortr' ticket_tr.ticket_tr %}">Изменить</a></td>
                {% endif %}
          {% else %}
            <td class="table-light" style="width: 75%">{{ticket_tr.pps}} </td>
          {% endif %}
        </tr>
    <tr>

    </tr>
  </tbody>
</table>

</div>

<div class="container">
    <form id="form" action="{% url 'sppdata' ticket_tr.ticket_tr%}" method="post">
        {% csrf_token %}

        <div class="card mb-2">
            <h5 class="card-header">Параметры</h5>
          <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group spd">
                                <label for="{{form.type_tr.id_for_label}}">Тип ТР:</label>
                                {{form.type_tr}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group spd">
                                <label for="{{form.spd.id_for_label}}">СПД:</label>
                                {{form.spd}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Далее</button>
                            </div>
                        </div>
                    </div>

          </div>

        </div>
    </form>
</div>

<script>

$(function () {
    let visible = "{{visible}}";
    console.log(visible)
    if(visible == "False") {
        console.log(1)
        $(".spd").hide();
    }
});
</script>


{%endblock%}

