{% extends 'tickets/nav_ticket.html' %}
{% block content %}

<div class="container">

<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Адрес</th>
        <td class="table-light" style="width: 75%">{{address}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Клиент</th>
        <td class="table-light" style="width: 75%">{{client}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Менеджер</th>
        <td class="table-light" style="width: 75%">{{manager}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Технолог</th>
        <td class="table-light" style="width: 75%">{{technolog}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Задача в ОТПМ</th>
        <td class="table-light" style="width: 75%">{% autoescape off %}{{task_otpm}}{% endautoescape %}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Отключение</th>
        {% if turnoff %}
          <td class="table-light" style="width: 75%; color: red">Требуется отключение</td>
          {% else %}
            <td class="table-light" style="width: 75%">Нет</td>
          {% endif %}
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%" rowspan="{{services_plus_desc|length}}">Услуг{{ services_plus_desc|length|pluralize:"а,и" }}</th>
      {% for i in services_plus_desc%}
        <td class="table-light" style="width: 75%">{{i}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

<div class="container">
    <form id="form" action="{% url 'sppdata' %}" method="post">
        {% csrf_token %}

        <div class="card mb-2">
            <h5 class="card-header">Параметры</h5>
          <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group spd">
                                <label for="{{form.vlan.id_for_label}}">СПД:</label>
                                {{form.spd}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Проектировать</button>
                            </div>
                        </div>
                    </div>
          </div>

        </div>
    </form>
</div>

<script>

$(function () {
    let visible = "{{visible}}";
    console.log(visible)
    if(visible == "False") {
        console.log(1)
        $(".spd").hide();
    }
});
</script>


{%endblock%}

