{% extends 'base.html' %}
{% block content %}

<div class="container">

<table class="table table-bordered">
  <tbody>
      <tr>
            <th class="table-secondary text-right" style="width: 25%">Задача в ОТПМ</th>
            <td class="table-light" style="width: 75%">{{task_otpm|linebreaks}}</td>
        </tr>
  </tbody>
</table>

</div>


<div class="container">
<form action="{% url 'test_formset' %}" method="post">
    {{ formset.management_form }}   {%comment%}Нужен, чтобы срабатывал метод is_valid(){%endcomment%}
    {% csrf_token %}
    <div class="container">
        <div class="row">
                <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col"></th>
                          <th scope="col">Ресурс</th>
                            <th scope="col">Точка подключения</th>
                            <th scope="col">Реквизиты</th>
                            <th scope="col">КАД</th>
                            <th scope="col">Порт</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for form in formset %}

                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>{{ form.as_p }}</td>

                              {% for element in ono_for_formset %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                              <td>
                                {{element.0}}
                                  </td>
                            <td>
                                {{element.1}}
                                  </td>
                            <td>
                                {{element.2}}
                                  </td>
                            <td>
                                {{element.3}}
                                  </td>
                            <td>
                                {{element.4}}
                                  </td>
                                {% endif %}
                              {% endfor %}

                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}