{% extends 'base.html' %}
{% block content %}


<form action="{% url 'test_formset' %}" method="post">
    {{ ono_formset.management_form }}   {%comment%}Нужен, чтобы срабатывал метод is_valid(){%endcomment%}
    {% csrf_token %}

    {{ono}}
    {{ono.0}}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th
    </tr>
  </thead>
  <tbody>
  {% for ono, form in ono_formset %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ form.as_p }}</td>
      <td>{{ono}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>



    <div class="container">
        <div class="row">
            <div class="col-4">



            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}