{% extends 'base.html' %}
{% block content %}


<div class="container">

<table class="table table-bordered">
  <tbody>
    {% for key, value in ticket_tr.items %}
    {% if 'Состав Заявки ТР' in key %}

    <tr>

        <th class="table-secondary text-right" style="width: 25%">{{key}}</th>

        <td class="table-light" style="width: 75%">
            {% for k, v in value.items %}
            {% if 'Техрешение' in k %}
            <ul><a href="{{v}}">{{k}}</a></ul>
            {% else %}
            {{k}}
            {% endif %}
            {% endfor %}
        </td>

    </tr>
    {% elif 'Перечень' in key %}

    <tr>

        <th class="table-secondary text-right" style="width: 25%" rowspan="{{value|length}}">{{key}}</th>
        {% for k in value %}
        <td class="table-light" style="width: 75%">{{k}}</td>

    </tr>
    {% endfor %}

    {% elif 'Узел подключения клиента' in key %}
        {% if 'dem_tr' in value %}
        <tr>
            <th class="table-secondary text-right" style="width: 25%">{{key}}</th>
            <td class="table-light" style="width: 75%">

                Узел не выбран<br />
                <a class="btn btn-outline-danger" href="{{value}}" target ="_blank" role="button">Выбрать</a>

            </td>
        </tr>
        {% else %}
        <tr>
            <th class="table-secondary text-right" style="width: 25%">{{key}}</th>
            <td class="table-light" style="width: 75%">{{value|linebreaksbr}}</td>
        </tr>
        {% endif %}
    {% elif 'Отключение' in key %}
        {% if value == 'Нет' %}
        <tr>
            <th class="table-secondary text-right" style="width: 25%">{{key}}</th>
            <td class="table-light" style="width: 75%">{{value}}</td>
        </tr>
        {% else %}
        <tr>
            <th class="table-secondary text-right" style="width: 25%; color: red">{{key}}</th>
            <td class="table-light" style="width: 75%">
                {{value}}
            </td>
        </tr>
        {% endif %}
    {% elif 'Файлы' in key %}
        <tr>
            <th class="table-secondary text-right" style="width: 25%">{{key}}</th>
            <td class="table-light" style="width: 75%">
                {% for k, v in value.items %}
                <ul><a href="https://sss.corp.itmh.ru/dem_tr/{{v}}">{{k}}</a></ul>
                {% endfor %}

            </td>
        </tr>
    {% elif 'vID' in key %}
    {% elif 'ОТПМ' in key %}
    {% elif 'ОРТР' in key %}
    {% elif 'ОТC' in key %}
    {% else %}
    <tr>
        <th class="table-secondary text-right" style="width: 25%">{{key}}</th>
        <td class="table-light" style="width: 75%">{{value|linebreaksbr}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

</div>
<div class="container">
    {% for key, value in ticket_tr.items %}
        {% if 'ОТПМ' in key %}
        <div class="card mb-2">
              <h5 class="card-header">Решение ОТПМ</h5>
              <div class="card-body">
                  {% if value %}
                    <p class="card-text">{{value|linebreaksbr}}</p>
                  {% else %}
                  <p class="card-text">Нет решения</p>
                  {% endif %}
              </div>
        </div>
        {% elif 'ОРТР' in key %}
        <div class="card mb-2">
            <h5 class="card-header">Решение ОРТР</h5>
              <div class="card-body">
                  {% if value %}
                    <p class="card-text">{{value|linebreaksbr}}</p>
                  {% else %}
                  <p class="card-text">Нет решения</p>
                  {% endif %}
              </div>
        </div>
        {% elif 'ОТС' in key and value%}
        <div class="card mb-2">
            <h5 class="card-header">Решение ОТС</h5>

              <div class="card-body">

                    <p class="card-text">{{value|linebreaksbr}}</p>

              </div>
        </div>
        {% endif %}
    {% endfor %}


</div>


{% endblock %}