{% extends 'base.html' %}
{% block content %}

<div class="container">
<table class="table table-bordered">
  <tbody>

    <tr>
        <th class="table-secondary text-right" style="width: 25%" rowspan="{{ticket_tr.services|length}}">Услуг{{ ticket_tr.services|length|pluralize:"а,и" }}</th>
      {% for i in ticket_tr.services%}
        <td class="table-light" style="width: 75%">{{i}}</td>
    </tr>
  {% endfor %}


    <tr>
        <th class="table-secondary text-right" style="width: 25%">Информация для разработки ТР</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.info_tr|linebreaksbr}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Узел подключения клиента</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.pps|linebreaksbr}}</td>
    </tr>
      <tr>
          <th class="table-secondary text-right" style="width: 25%">Отключение</th>
          {% if ticket_tr.turnoff %}
          <td class="table-light" style="width: 75%; color: red">Требуется отключение</td>
          {% else %}
            <td class="table-light" style="width: 75%">Нет</td>
          {% endif %}
        </tr>
  </tbody>
</table>
</div>

<div class="container">
    <div class="card mb-2">
      <h5 class="card-header">Решение ОТПМ</h5>
      <div class="card-body">
        <p class="card-text">{{ticket_tr.oattr|linebreaksbr}}</p>
      </div>
    </div>

    <div class="card mb-2">
      <h5 class="card-header">Решение ОРТР</h5>
      <div class="card-body">
          {{ortr.ortr|linebreaksbr}}
      </div>
    </div>

    {% if ortr.ots %}
    <div class="card mb-2">
      <h5 class="card-header">Решение ОТC</h5>
      <div class="card-body">
        {{ortr.ots|linebreaksbr}}
      </div>
    </div>
    {% endif %}
</div>






{% endblock %}