{% extends 'base.html' %}
{% block content %}

<div class="container">
    <table class="table table-bordered">
      <tbody>
        <tr>
            <th class="table-secondary text-right" style="width: 25%">Узел связи</th>
            <td class="table-light" style="width: 75%">{{pps}}</td>
        </tr>
      </tbody>
    </table>


    <table class="table table-striped table-bordered">
      <thead>
        <tr>

          <th scope="col">Название</th>
          <th scope="col">IP-адрес</th>
            <th scope="col">Модель</th>
            <th scope="col">Uplink</th>
            <th scope="col">Порты</th>
            <th scope="col">Место установки</th>

        </tr>
      </thead>
      <tbody>
      {% for vgw in vgws %}

        <tr>
            {% for key, value in vgw.items %}
            {% if key == 'ports' %}
            <td><a href="https://cis.corp.itmh.ru/{{value}}" target ="_blank">Порты</a></td>
            {% elif key == 'ip' %}
            <td><a href="http://{{value}}" target ="_blank">{{value}}</a></td>
            {% else %}
            <td>{{value}}</td>
            {% endif %}
            {% endfor %}

            {%comment%}<td><a href="{{value.3}}" target ="_blank">Порты</a></td>{%endcomment%}


        </tr>

      {% endfor %}
      </tbody>
    </table>

    </div>
{%endblock%}