{% extends 'base.html' %}

{% block nav_active %}
{% load custom_filters %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'private_page' %}">Личное пространство</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'otpm' %}">Пул задач</a>
</li>
{% endblock %}

{% block content %}


<div class="container">

<div class="card mb-2">
    <h5 class="card-header">Параметры поиска</h5>
  <div class="card-body">
<form action="{% url 'otpm' %}" method="get" id="otpmForm">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ otpmpoolform.technolog.id_for_label }}">Технолог:</label>
                    {{otpmpoolform.technolog}}
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ otpmpoolform.group.id_for_label }}">Группа:</label>
                    {{otpmpoolform.group}}
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="{{ otpmpoolform.status.id_for_label }}">Статус:</label>
                    {{otpmpoolform.status}}
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4">
                <label for="{{ otpmpoolform.client.id_for_label }}"></label>
                <button type="submit" style="margin-top:8px" class="btn btn-primary btn-block">Поиск</button>
            </div>
        </div>
    </div>
</form>
        </div>
</div>
</div>


<div class="container">




    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
            <th scope="col">Группа</th>
          <th scope="col">№ Заявки</th>
          <th scope="col">Клиент</th>
            <th scope="col">Точка подключения</th>
            <th scope="col">Технолог</th>
            <th scope="col">Стадия</th>
            <th scope="col">Слож</th>
            <th scope="col">Статус</th>
            <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
      {% if search %}

      {% for ticket in search %}

        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ticket.8}}</td>
            <td><a href="https://sss.corp.itmh.ru/dem_tr/dem_begin.php?dID={{ticket.1}}">{{ticket.0}}</a></td>
            <td>{{ticket.2}}</td>
            <td>{{ticket.3}}</td>
            <td>{{ticket.4}}</td>
            <td>{{ticket.5}}</td>
            <td>{{ticket.6}}</td>
            <td>{{ticket.7}}</td>
            <td>
                <a class="btn btn-outline-danger custom" href="{% url 'create_spp' ticket.1 %}?stage={{ticket.5}}"
                   role="button">Обработать заявку</a>
            </td>

        </tr>

      {% endfor %}
      {% endif %}
      </tbody>
        <tbody>
      {% for ticket in missing %}
        <tr>
            <th scope="row">{{search|length|add:forloop.counter}}</th>
            <td>{{ticket.type_ticket}}</td>
            <td><a href="https://sss.corp.itmh.ru/dem_tr/dem_begin.php?dID={{ticket.dID}}">{{ticket.ticket_k}}</a></td>

            <td>{{ticket.client}}</td>
            <td> {%comment%}{{ticket.des_tr}}{%endcomment%}
            {% for it in ticket.des_tr %}
                {% for k, v in it.items %}
                {%comment%}{% if forloop.counter == 1 %}{%endcomment%}
                {% if 'г.' in k and forloop.counter == 1 or forloop.counter == 2 %}
                {{k}}
                {% endif %}
                {%endfor%}
                {%endfor%}

            </td>
            <td>{{ticket.technolog}}</td>
            <td style="color: red">Нет в пуле</td>
            <td>{{ticket.difficulty}}</td>
            {% if ticket.process %}
            <td>В работе</td>
            {% elif ticket.wait %}
            <td>Отслеживается</td>
            {% endif %}
            <td>
            {% if ticket.user.username == user.username%}
                <a class="btn btn-outline-success custom" href="{% url 'spp_view_oattr' ticket.dID %}" {%comment%}ticket.id{%endcomment%}
                   role="button">Открыть заявку</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% for ticket in spp_process %}
        <tr>
            <th scope="row">{{search|length|add:forloop.counter}}</th>
            <td>{{ticket.type_ticket}}</td>
            <td><a href="https://sss.corp.itmh.ru/dem_tr/dem_begin.php?dID={{ticket.dID}}">{{ticket.ticket_k}}</a></td>

            <td>{{ticket.client}}</td>
            <td> {%comment%}{{ticket.des_tr}}{%endcomment%}
            {% for it in ticket.des_tr %}
                {% for k, v in it.items %}
                {%comment%}{% if forloop.counter == 1 %}{%endcomment%}
                {% if 'г.' in k and forloop.counter == 1 or forloop.counter == 2 %}
                {{k}}
                {% endif %}
                {%endfor%}
                {%endfor%}

            </td>
            <td>{{ticket.technolog}}</td>
            <td>{{ticket.stage}}</td>
            <td>{{ticket.difficulty}}</td>
            {% if ticket.process %}
            <td>В работе</td>
            {% elif ticket.wait %}
            <td>Отслеживается</td>
            {% endif %}
            <td>
            {% if ticket.user.username == user.username%}
                <a class="btn btn-outline-success custom" href="{% url 'spp_view_oattr' ticket.dID %}" {%comment%}ticket.id{%endcomment%}
                   role="button">Открыть заявку</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}

      </tbody>

    </table>


</div>

{% endblock %}