{% extends 'base.html' %}
{% block content %}

{% load widget_tweaks %}

<div class="container">

<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%" rowspan="{{services_plus_desc|length}}">Услуг{{ services_plus_desc|length|pluralize:"а,и" }}</th>
      {% for i in services_plus_desc%}
        <td class="table-light" style="width: 75%">{{i}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>
<div class="container">
          <form action="{% url 'saved_data_oattr' %}" method="post">
            {% csrf_token %}
              <div class="card mb-2">
      <h5 class="card-header">Решение ОТПМ</h5>
      <div class="card-body">

          <div class="mt-2">
                <div class="form-group">
                    {% render_field oattrform.oattr_field rows=counter_str_oattr %}
                </div>
            </div>
          <div class="container">
              <div class="row">

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a class="btn btn-outline-info" href="{% url 'spp_view_oattr' dID %}" role="button">Вернуться к заявке</a>
                <a class="btn btn-outline-info" href="{% url 'save_spp' %}" target ="_blank" role="button">Отправить данные в СПП</a>
            </div>

        </div>
          </div>
      </div>

    </div>

          </form>

</div>

{%endblock%}