{% extends 'base.html' %}

{% block nav_active %}
{% load custom_filters %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'private_page' %}">Личное пространство</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'otpm' %}">Пул задач</a>
</li>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item"><h6 class="text-center" style="color:black">Услуги ТР №{{view.kwargs.trID}} {{ticket_tr.address_cp}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Место размещения</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.place_cp}}</td>
    </tr>
    {% if ticket_tr.info_tr %}
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Информация для разработки ТР</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.info_tr}}</td>
    </tr>
    {% endif %}
    <tr>
        <th class="table-secondary text-right" style="width: 25%" rowspan="{{services|length}}">Услуг{{services|length|pluralize:"а,и" }}</th>
      {% for k,v in services.items%}
        <td class="table-light" style="width: 75%">{{v}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Узел подключения клиента</th>
        <td class="table-light" style="width: 75%">{{ticket_tr.pps}}</td>
    </tr>
  </tbody>
    </table>
</div>


<div class="container">
    <form id="form" action="{% url 'otpm_service' view.kwargs.trID %}" method="post">
        {% csrf_token %}

        {% for tag_service, service in services.items %}
        <div class="card mb-2">
            <h6 class="card-header">Параметры услуги: {{service}}</h6>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <div id="{{tag_service}}_forms" class="{{tag_service}}_forms">
                    <div class="container">

                            {% if tag_service == 'lvs' %}
                                <div class="container">
                                    <div class="row">
                                        <div class="form-row">
                                            <label class="col-form-label">Установка коммутатора: </label>
                                            <input type="checkbox" name="lvs_switch" id="id_lvs_switch">
                                        </div>
                                    </div>
                                </div>
                            {% elif tag_service == 'phone' %}
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label class="col-form-label">Установка голосового шлюза:</label>
                                            <select name="phone_vgw_place" class="form-control" id="id_phone_vgw_place">
                                              <option value="не требуется">Не требуется</option>
                                              <option value="на ППС">На ППС</option>
                                                <option value="у клиента">У клиента</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% elif tag_service == 'video' %}
                            <div class="container">
                            <div class="row">
                                <div class="form-row">
                                    <label class="col-form-label">Установка POE-коммутатора: </label>
                                    <input type="checkbox" name="video_switch" id="id_video_switch">
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Количество камер:</label>
                                        <input type="text" name="video_count_camera" class="form-control" id="id_video_count_camera" required="True">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                    </div>

                </div>
                </ul>
              <div class="container">
                  <div class="row mt-3">
                        <div class="col-3">
                            <button class="btn btn-success btn-block add_item_btn" id="{{tag_service}}">Добавить</button>
                        </div>
                    </div>
              </div>


            </div>
        </div>
        {% endfor %}



        <div class="card mb-2">
              <div class="card-body">
                  <div class="container">
                    <div class="row mt-3 justify-content-md-center">
                        <div class="col-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Продолжить</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </form>
</div>


<script>
    var counter=0



    $(document).ready(function() {
      $(".add_item_btn").click(function(e){
          var button = this.id;



          e.preventDefault();
          counter+=1;
          $("." +button+ "_forms").append(`<li class="list-group-item">
          <div class="row">
            <div class="col-2">
                    <label class="col-form-label">Тип кабеля:</label>
                </div>
            <div class="col-3">
                <div class="form-group">
                    <select name="${button}_cable_${counter}" class="form-control" id="id_${button}_cable_${counter}">
                      <option value="UTP-2е пары">UTP-2е пары</option>
                      <option value="UTP-4е пары">UTP-4е пары</option>
                    </select>
                </div>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button class="btn btn-danger btn-block remove_item_btn">Удалить</button>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
                <label class="col-form-label">Количество линий:</label>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input type="text" name="${button}_count_line_${counter}" class="form-control" required="True">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
                <label class="col-form-label">Монтаж линии от:</label>
            </div>
            <div class="col-10">
                <div class="form-group">
                    <textarea rows="2" name="${button}_from_${counter}" class="form-control" required="True"></textarea>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
                <label class="col-form-label">Монтаж линии до:</label>
            </div>
            <div class="col-10">
                <div class="form-group">
                    <textarea rows="2" name="${button}_to_${counter}" class="form-control" required="True"></textarea>
                </div>
            </div>
          </div>

                <div class="row">
                    <div class="col-2">
                      <label class="col-form-label">Способ монтажа:</label>
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <textarea rows="2" name="${button}_mounting_${counter}" class="mounting form-control" required="True"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="col-form-label">Способ крепежа:</label>
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <textarea rows="2" name="${button}_fastening_${counter}" class="fastening form-control" required="True"></textarea>
                        </div>
                    </div>
                </div>

          </li>`);

      });

      $(document).on("click",".remove_item_btn",function(e){
          e.preventDefault();
          let row_item = $(this).parent().parent().parent().parent();
          $(row_item).remove();
      });
    });


    $(function(){
      var mounts = ["Монтаж выполнить по существующей кабельной трассе",
             "Монтаж выполнить в наших КС, вдоль существующих линий",
             "Монтаж выполнить согласно схеме"];
      var mounting = 'textarea.mounting';
        $(document).on('keydown.autocomplete', mounting, function() {
            $(this).autocomplete({
          source: mounts
            });
        });
      var fastens = ["Закрепить скобами",
             "Закрепить скобами и на стяжки"];
      var fastening = 'textarea.fastening';
      $(document).on('keydown.autocomplete', fastening, function() {
            $(this).autocomplete({
                source: fastens
            });
        });
    });


</script>

{% endblock %}