{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center justify-content-center">
                  <li class="breadcrumb-item active" aria-current="page"><h6 class="text-center" style="color:black">Информация ТР №{{trID}}</h6></li>
              </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
<table class="table table-bordered">
  <tbody>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Адрес</th>
        <td class="table-light" style="width: 75%">{{address}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Место размещения</th>
        <td class="table-light" style="width: 75%">{{place_connection_point}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Информация для разработки ТР</th>
        <td class="table-light" style="width: 75%">{{info_tr}}</td>
    </tr>
    <tr>
        <th class="table-secondary text-right" style="width: 25%" rowspan="{{services_plus_desc|length}}">Услуг{{ services_plus_desc|length|pluralize:"а,и" }}</th>
      {% for i in services_plus_desc%}
        <td class="table-light" style="width: 75%">{{i}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th class="table-secondary text-right" style="width: 25%">Узел подключения клиента</th>
        <td class="table-light" style="width: 75%">{{node}}</td>
    </tr>
  </tbody>
</table>

      <div class="form-group">
      <a class="btn btn-outline-info" href="{% url 'create_project_otu' trID %}" target ="_blank" role="button">Проект ОТУ</a>
      <a class="btn btn-outline-info"
         href="https://sss.corp.itmh.ru/dem_tr/dem_begin.php?dID={{dID}}&tID={{tID}}&trID={{trID}}"
         target ="_blank"
         role="button">Открыть ТР в СПП</a>
      {% if action == 'add' %}
          <a class="btn btn-primary" href="{% url 'otpm_copper' trID %}" role="button">Проектировать ТР</a>
      {% elif action == 'edit'%}
          <a class="btn btn-primary" href="{% url 'saved_data_oattr' trID %}" role="button">Редактировать ТР</a>
      {% endif %}
      </div>

</div>


{%endblock%}